@model IEnumerable<CRM.Models.User>

@{ ViewData["Title"] = "Index"; }

<h1>Index</h1>
@if (User.FindFirst("role").Value == "Admin" || User.FindFirst("role").Value == "Moderator")
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            @if (User.FindFirst("role").Value == "Admin" || User.FindFirst("role").Value == "Moderator")
            {
            <th>
            @Html.DisplayNameFor(model => model.Password)
            </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.RoleId)
            </th>
         <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Surname)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DateOfBirth)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Login)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Password)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RoleId)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
    </td>
</tr>}
    </tbody>
</table>
